* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

h1 {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.card {
    width: 100%;
    max-width: 480px;
    margin: 50px auto 0;
    border-radius: 20px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 20px 20px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    width: 100%;
    /* border: 0; */
    border: none;
    outline: none;
    color: #555;
    background-color: #ebfffc;
    height: 60px;
    padding: 10px 25px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: none;
    outline: none;
    border-radius: 50%;
    width: 80px;
    height: 60px;
    cursor: pointer;
    background-color: #ebfffc;
    text-align: center;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 170px;
    margin-top: 20px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    /* padding: 0 20px; */
    flex-wrap: wrap;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: none;
}

.device-location {
    margin-top: 10px;
    width: 50%;
    height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 40px;
    color: #555;
}

.device-location:hover {
    /* background-color: black; */
    background-color: white;
}


/* media queries */